body {
	background-color: Mistyrose;
	color: crimson;
	font-family: Verdana;
	margin: 100px 50px;
}

h1, h2 {
	color: Aqua;
}

a, em, strong {
	color: YellowGreen;
}

table {
	border-collapse: collapse;
}


th, td {
	text-align: left;
	padding: 5px;
}


table, th, td {
	border: 2px solid white;
}