body {
	background-color: CornflowerBlue;
	color: FloralWhite;
	font-family: Arial;
	margin: 100px 50px;
}

h1, h2 {
	color: LightPink;
}

a, em, strong {
	color: #ffa07a;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 5px;
}


table, th, td {
	border: 1px solid FloralWhite;
}