body {
	background-color: black;
	color: white;
	font-family: Verdana;
	margin: 75px 50px;
}

h1, h2 {
	color: brown;
}

a, em, strong {
	color: orange;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 10px;
}

table, th, td {
	border: 2px solid lightgrey;